#heading1 {
color: red;
size: 40px;
}
body {
  background-image: url(https://i.pinimg.com/originals/05/50/ec/0550ec6e4a7390696ace592e80ccb82b.png);
  background-position: center;
  background-size: cover;
}
#canvas_2{
  background-color: wheat;
  border: 10px ridge silver;
}